<footer
  class="flex flex-col mx-auto text-gray-400 items-center py-8 space-y-4 text-sm"
>
  <div>© 2024 - Toulouse Flag Football</div>
  <div class="flex flex-col gap-2 items-center">
    <div class="flex flex-row items-center gap-1 text-xs">
      Made in
      <svg
        width="100%"
        height="100%"
        viewBox="0 0 75 75"
        version="1.1"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        xml:space="preserve"
        fill="currentColor"
        class="size-8"
      >
        <g>
          <g>
            <path
              d="M3.952,37.5l1.418,1.11c2.275,1.778 5.986,5.582 6.998,12.016l0.268,1.699l1.299,-1.137c2.183,-1.909 8.668,-6.908 18.151,-8.274c-1.367,9.483 -6.366,15.968 -8.274,18.15l-1.137,1.3l1.699,0.268c6.434,1.012 10.237,4.723 12.016,6.997l1.11,1.419l1.11,-1.419c1.778,-2.274 5.582,-5.985 12.016,-6.997l1.698,-0.268l-1.136,-1.3c-1.909,-2.182 -6.908,-8.667 -8.274,-18.15c9.483,1.366 15.968,6.365 18.15,8.274l1.3,1.137l0.267,-1.699c1.013,-6.434 4.724,-10.238 6.998,-12.016l1.419,-1.11l-1.419,-1.11c-2.274,-1.779 -5.985,-5.582 -6.998,-12.016l-0.267,-1.699l-1.3,1.137c-2.182,1.909 -8.667,6.908 -18.15,8.274c1.366,-9.483 6.365,-15.968 8.274,-18.15l1.136,-1.3l-1.698,-0.268c-6.434,-1.012 -10.238,-4.723 -12.016,-6.998l-1.11,-1.418l-1.11,1.418c-1.779,2.275 -5.582,5.986 -12.016,6.998l-1.699,0.268l1.137,1.3c1.908,2.182 6.907,8.667 8.274,18.15c-9.483,-1.366 -15.968,-6.365 -18.151,-8.274l-1.299,-1.137l-0.268,1.699c-1.012,6.434 -4.723,10.237 -6.998,12.016l-1.418,1.11Zm5.46,-0c4.326,-4.01 5.325,-8.461 5.325,-8.461c6.316,5.323 16.166,6.523 21.09,6.788c-0.265,-4.924 -1.465,-14.774 -6.788,-21.09c0,0 4.45,-0.998 8.461,-5.325c4.011,4.327 8.46,5.325 8.46,5.325c-5.322,6.316 -6.522,16.166 -6.787,21.09c4.924,-0.265 14.774,-1.465 21.089,-6.788c0,0 0.999,4.451 5.326,8.461c-4.327,4.011 -5.326,8.461 -5.326,8.461c-6.315,-5.323 -16.165,-6.523 -21.089,-6.788c0.265,4.924 1.465,14.774 6.787,21.09c0,-0 -4.449,0.998 -8.46,5.325c-4.011,-4.327 -8.461,-5.325 -8.461,-5.325c5.323,-6.316 6.523,-16.166 6.788,-21.09c-4.924,0.265 -14.774,1.465 -21.09,6.788c0,-0 -0.999,-4.45 -5.325,-8.461Z"
              style="fill-rule:nonzero;"></path>
            <circle cx="2.798" cy="37.5" r="2.798"></circle>
            <circle cx="12.25" cy="21.578" r="2.798"></circle>
            <circle cx="12.25" cy="53.423" r="2.798"></circle>
            <circle cx="21.577" cy="12.25" r="2.798"></circle>
            <circle cx="21.577" cy="62.75" r="2.798"></circle>
            <circle cx="37.5" cy="2.798" r="2.798"></circle>
            <circle cx="37.5" cy="72.202" r="2.798"></circle>
            <circle cx="53.422" cy="12.25" r="2.798"></circle>
            <circle cx="53.422" cy="62.75" r="2.798"></circle>
            <circle cx="62.75" cy="21.578" r="2.798"></circle>
            <circle cx="62.75" cy="53.423" r="2.798"></circle>
            <circle cx="72.202" cy="37.5" r="2.798"></circle>
          </g>
        </g>
      </svg> Occitanie
    </div>
    <div class="flex flex-row items-center gap-1 text-xs">
      with <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="size-4"
        fill="none"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M21 8.25c0-2.485-2.099-4.5-4.688-4.5-1.935 0-3.597 1.126-4.312 2.733-.715-1.607-2.377-2.733-4.313-2.733C5.1 3.75 3 5.765 3 8.25c0 7.22 9 12 9 12s9-4.78 9-12Z"
        ></path>
      </svg> by <span
        ><a href="https://sylvainvallot.com/" class="hover:underline"
          >Sylvain Vallot</a
        ></span
      >
    </div>
  </div>
</footer>
