---
interface Props {
	title: string;
	tagline: string;
}

const { title } = Astro.props;
---
<div class="flex flex-col items-start max-w-fit mx-auto mt-32 text-gray-900">
    <h1 class="font-teko font-semibold uppercase text-8xl sm:text-9xl text-nowrap ">{title}</h1>
    <div class="flex flex-row justify-between items-center w-full text-xl sm:text-2xl font-sans uppercase font-bold">
        <p>Toulouse</p>
        <p>Flag</p>
        <p>Football</p>
    </div>
</div>